<!-- Display Preview of post -->
<!-- _post.html: Partial for displaying a single blog post card-->

<div class="col-md-4 mb-4">
    <div class="card">
        <div class="card-header">
            <span class="tag-badge badge">{{ post.tag }}</span> {{ post.title }}
        </div>
        <div class="card-body">
            <p class="card-text">{{ post.body | truncate(150) }}</p>
            <p class="card-text"><small class="text-muted">Posted on {{ post.timestamp.strftime('%Y-%m-%d
                    %H:%M') }}</small></p>
            <!-- Send to -->
            <a href="{{ url_for('post', post_id=post.id) }}" class="btn btn-secondary">Read More</a>
        </div>
    </div>
</div>