{% extends "base.html" %}

{% block content %}

<body>
    <h1>Edit Profile</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>

            {{ form.about_me.label }}<br>
            {{ form.about_me(cols=50, rows=4) }}<br>
            {% for error in form.about_me.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <div class="form-group">
            {{ form.new_password.label(class="form-label") }}
            {{ form.new_password(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.new_password2.label(class="form-label") }}
            {{ form.new_password2(class="form-control") }}
            {% if form.new_password2.errors %}
            <div class="invalid-feedback">
                {% for error in form.new_password2.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <p>{{ form.submit() }}</p>
    </form>
</body>
{% endblock %}